

.login-popup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    padding-top: 7%;
}


.loginpopup-box{
    background: #fff;
    width: fit-content;
    height: fit-content;
    margin: auto;
    position: relative;
    padding: 20px;
}

.loginPopUp-CloseBTN{
    position: absolute;
    top: -15px;
    left: -20px;
}

.loginPopUp-CloseBTN button{
    background: rgb(241, 240, 240);
    padding: 5px 12px;
    border-radius: 50%;
    border: none;
}

.LoginPopUp-Form{
    display: flex;
    width: 400px;
    align-items: center;
}

.form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.Form-title h2{
    text-align: center;
    font-family: "Protest Riot", sans-serif;
    font-weight: 600;
}

.Form-title p{
    font-size: 14px;
    text-align: center;
    font-family: 'roboto', sans-serif;
}

.form form{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin: auto;
    width: 100%;
}

.form input{
    margin: 10px;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0 -1px 2px 0 #00000046, 0 1px 2px 0 #00000046;
}

form .login-btn{
    width: 100%;
    border: 2px solid rgb(254, 200, 3);
    background: rgb(241, 190, 8);
    color: black;
}

.hr{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.div-hr{
    width: 50%;
}

.div-or{
    margin: 5px;
}

.signbutton{
    display: flex;
    justify-content: center;
}

.signbutton button{
    display: flex;
    align-items: center;
    padding: 7px 10px;
    border: 2px solid rgb(130, 129, 129);
    background-color: transparent;
}

.signbutton button p{
    font-size: 12px;
    margin: 0 5px;
    font-family: 'roboto', sans-serif;
}


.facebook{
    font-size: 16px;
    fill: rgb(7, 7, 139);
}

.google{
    font-size: 16px;
}

.signUp-{
    margin: 20px;
}

.signUp- p{
    font-size: 14px;
    font-family: 'roboto', sans-serif;
}

.signUp- p a{
    color: rgb(6, 134, 208) !important;
    font-size: 15px;
    text-decoration: underline !important;
    font-family: 'poppins', sans-serif;
    cursor: pointer;
}