
.collection{
    width: 100%;
    display: flex;
}

.collection-cat{
    width: 20%;
    background-color: rgb(248, 248, 248);
    justify-content: center;
    align-items: center;
    border-right: 1.8px solid black;
    padding: 30px;
}

.all-cat{
    display: flex;
    justify-content: center;
    text-align: left !important;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    gap: 8px;
}

.all-cat button{
    margin: 0;
    text-align: left;
    color: #585656;
    font-weight: 500;
}

.all-cat button:hover{
    color: black;
    text-decoration: underline;
    scale: 1.05;
}


.collection-product{
    width: 75%;
}

.item-products{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
    gap: 20px;
}

.sorting-product{
    display: flex;
    justify-content: right;
    margin-top: 50px;
}

/* -------- pagination ---------- */

.pagination{
    width: 100%;
    margin: auto;
    gap: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.pagination button{
    border: 1px solid black;
    padding: 0 10px;
    font-weight: 700;
    font-size: 18px;
}

@media (max-width: 750px) {

    .collection-cat{
        width: 25%;
        background: white;
        border-right: 1px solid black;
        padding: 10px;
    }

    .all-cat{
        padding: 5px;
        gap: 8px;
    }
    
    .all-cat button{
        font-size: 10px;
        text-wrap: wrap;
    }

}