
.register-container{
    display: flex;
    width: 350px;
}

.register-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.register-title{
    text-align: center;
    font-family: "Protest Riot", sans-serif;
    font-size: 17px;
    font-weight: 600;
}

.register-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

.register-form input{
    margin: 10px;
    width: 90%;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    border: none;
    box-shadow: 0 -1px 2px 0 #00000046, 0 1px 2px 0 #00000046;
}

form .register-btn{
    width: 90%;
    border: 2px solid rgb(254, 200, 3);
    background: rgb(241, 190, 8);
    color: black;
    font-size: 15px;
    font-weight: 500;
}

.Login-{
    font-size: 15px;
    text-align: center;
}

.Login- a{
    color: rgb(6, 134, 208) !important;
    font-size: 15px;
    text-decoration: underline !important;
    font-family: 'poppins', sans-serif;
    cursor: pointer;
}
