

/* .header{
    display:flex;
    justify-content: center;
    align-items: center;
} */

input{
    width: 60%;
    height: 30px;
    border-radius: 5px;
    margin-top: 20px;
}

.button-Add{
    width: 50px;
    height: 35px;
    margin-left: 5px;
    background-color: rgba(106, 51, 234, 0.9);
    border: none;
    border-radius: 5px;
}