
.sort-product{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sort-select {
    border: 2px solid black;
    font-size: 14px;
    padding: 0 16px;
}

@media (max-width: 750px) {
    .sort-select{
        font-size: 10px;
        padding: 0 10px;
    }
}