

form{
    margin: 20px;
    padding: 20px;
    text-align: left !important;
    border: 2px solid black;
    align-items: left;
}

h2{
    color: black !important;
}

input{
    width: 90%;
}



body{
    background-color: #f7faf7 !important;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cards{
    border-radius: 0px;
    background-color: white;
}

.mb-3 input{
    border: 1px solid black;
    margin: 2px;
}

button{
    background-color: blue;
    color: white;
    border-color: black;
    width: 50px;
    height: 30px;
    justify-content: end;
    align-items: right;

}

.text_center{
    text-align: center;
}
